In [96]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [97]:
dataset = pd.read_csv("PERKIRAAN CUACA BERMAIN TENIS.csv", sep=';')
dataset

    No Outlook Temperatur Humadity  windy play
0    1   Sunny       Mild   Normal  False  YES
1    2   Sunny       Cool   Normal   True   NO
2    3  Cloudy       Cool   Normal   True  YES
3    4   Rainy       Cool     High  False  YES
4    5   Rainy       Mild   Normal  False  YES
5    6   Rainy       Cool   Normal  False  YES
6    7  Cloudy       Mild   Normal   True  YES
7    8   Sunny       Cool   Normal   True  YES
8    9   Sunny        Hot   Normal  False  YES
9   10   Rainy       Mild   Normal   True  YES
10  11   Sunny        Hot   Normal  False  YES
11  12  Cloudy       Mild     High  False  YES
12  13  Cloudy        Hot   Normal   True  YES
13  14   Rainy       Cool     High   True   NO

In [98]:
from sklearn.preprocessing import LabelEncoder

In [99]:
enc = LabelEncoder()

In [100]:
dataset['Humadity']= enc.fit_transform(dataset['Humadity'].values)
dataset['windy']= enc.fit_transform(dataset['windy'].values)
dataset['play']= enc.fit_transform(dataset['play'].values)

In [101]:
dataset['Outlook']= enc.fit_transform(dataset['Outlook'].values)
dataset['Temperatur']= enc.fit_transform(dataset['Temperatur'].values)

In [102]:
dataset

    No  Outlook  Temperatur  Humadity  windy  play
0    1        2           2         1      0     1
1    2        2           0         1      1     0
2    3        0           0         1      1     1
3    4        1           0         0      0     1
4    5        1           2         1      0     1
5    6        1           0         1      0     1
6    7        0           2         1      1     1
7    8        2           0         1      1     1
8    9        2           1         1      0     1
9   10        1           2         1      1     1
10  11        2           1         1      0     1
11  12        0           2         0      0     1
12  13        0           1         1      1     1
13  14        1           0         0      1     0

In [103]:
atr_dataset = dataset.drop(columns = 'play')
atr_dataset

    No  Outlook  Temperatur  Humadity  windy
0    1        2           2         1      0
1    2        2           0         1      1
2    3        0           0         1      1
3    4        1           0         0      0
4    5        1           2         1      0
5    6        1           0         1      0
6    7        0           2         1      1
7    8        2           0         1      1
8    9        2           1         1      0
9   10        1           2         1      1
10  11        2           1         1      0
11  12        0           2         0      0
12  13        0           1         1      1
13  14        1           0         0      1

In [104]:
cls_dataset = dataset['play']
cls_dataset

0     1
1     0
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    0
Name: play, dtype: int64

In [105]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier

In [106]:
xtrain, xtest, ytrain, ytest = train_test_split(atr_dataset, cls_dataset, test_size=0.2, random_state=1)
tree_dataset = DecisionTreeClassifier(random_state=1)
tree_dataset.fit(xtrain, ytrain)

DecisionTreeClassifier(random_state=1)

In [112]:
y_pred = tree_dataset.predict(xtest)
cm = confusion_matrix(ytest, y_pred)
print("Confusion Matrix")
print(cm)
akurasi = classification_report(ytest, y_pred)
print("Tingkat Akurasi Algoritma")
print("Akurasi: ", akurasi)
akurasi = accuracy_score(ytest, y_pred)
print("Tingkat Akurasi: %d persen" %(akurasi*100))

Confusion Matrix
[[3]]
Tingkat Akurasi Algoritma
Akurasi:                precision    recall  f1-score   support

           1       1.00      1.00      1.00         3

    accuracy                           1.00         3
   macro avg       1.00      1.00      1.00         3
weighted avg       1.00      1.00      1.00         3

Tingkat Akurasi: 100 persen

In [113]:
from sklearn.tree import export_graphviz
export_graphviz(tree_dataset, out_file="Tree.play.dot", class_names=["A","B","C","D"],
                feature_names=atr_dataset.columns, impurity=False, filled=True)

In [114]:
import graphviz
with open("Tree.play.dot") as fig:
  dot_graph =fig.read()
  graph = graphviz.Source(dot_graph)
  graph.view()